<section class="section-container">
    <mat-card class="example-card">
        <mat-card-title>
            <span class="logo-span">
                <img src="../../assets/img/logo.png">
            </span>
        </mat-card-title>
        <mat-card-content>         
            <form class="exemple-form">    
                <mat-form-field class="example-full-width">
                    <mat-label>E-mail:</mat-label>
                    <input matInput type="email">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Senha:</mat-label>
                    <input matInput type="password">
                </mat-form-field>
            </form>
            <div class="container-button-enter">
                <button mat-raised-button color="accent">Entrar</button>
            </div>
        </mat-card-content>          
        <mat-card-actions  class="container-buttons">
            <button mat-button (click)="registerUser()">Cadastre-se</button>
            <button mat-button (click)="recuperarSenha()">Recuperar Senha</button>
        </mat-card-actions>
      </mat-card>      
</section>
