.container-buttons{
    float: right;
    padding: 10px;

    button{
        margin: 10px;
    }
}
.button-receita{
    background-color: #0800ff;
    color: white;
}
.button-despesa{
    background-color: #822007;
    color: white;
}
.container_despesas{
    height: 50vh;
    width: 100%;
    overflow-y: scroll;

    table{
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
        
    }

    table tr{
        border: 1px solid #ddd;
    }

    table th, table td{
        padding: .625em;
        text-align: center;
    }
    table th{
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    table td{
        text-transform: uppercase;
    }
    thead tr{
        background: red;
        color: #fff;
    }
}
.container_receitas{
    height: 50vh;
    width: 100%;
    overflow-y: scroll;

    table{
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table tr{
        border: 1px solid #ddd;
    }

    table th, table td{
        padding: .625em;
        text-align: center;
    }
    table th{
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    table td{
        text-transform: uppercase;
    }
    thead tr{
        background: blue;
        color: #fff;
    }
}
.container_title{
    display: flex;
    justify-content: center;
}
.container_actions{
    padding: 20px;    
}