<app-navbar></app-navbar>
<!-- Section Buttons-->
<section>
    <span class="container-buttons">
        <button mat-flat-button class="button-receita" routerLink="/receitas-form">Inserir Receita</button>
        <button mat-flat-button class="button-despesa" routerLink="/despesas-form">Inserir Despesa</button>
    </span>
</section>
<!-- Section Com últimas Despesas-->
<section>
    <div class="container_despesas">
        <div class="container_title">
            <h1>ÚLTIMAS DESPESAS</h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>DATA</th>
                    <th>VALOR</th>
                    <th>TIPO</th>
                    <th>DESCRIÇÃO</th>
                    <th>S/N FIXO</th>
                    <th>MENU</th>
                </tr>
            </thead>            
            <tbody>
                <tr *ngFor="let despesa of listDespesas">
                    <td>{{despesa.data}}</td>
                    <td>{{despesa.valor}}</td>
                    <td>{{despesa.tipo}}</td>
                    <td>{{despesa.descricao}}</td>
                    <td>{{despesa.fixo}}</td>
                    <td>
                        <div class="container_actions">
                            <mat-icon (click)="delete()">delete</mat-icon>
                            <mat-icon (click)="editDespesa(despesa)">edit</mat-icon>
                        </div>
                    </td>
                </tr>
            </tbody>        
        </table>
    </div>
</section>
<!-- Section Com últimas Receitas-->
<section>
    <div class="container_receitas">
        <div class="container_title">
            <h1>ÚLTIMAS RECEITAS</h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th>DATA</th>
                    <th>VALOR</th>
                    <th>TIPO</th>
                    <th>DESCRIÇÃO</th>
                    <th>S/N FIXO</th>                    
                    <th>MENU</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let receita of listReceitas">
                    <td>{{receita.data}}</td>
                    <td>{{receita.valor}}</td>
                    <td>{{receita.tipo}}</td>
                    <td>{{receita.descricao}}</td>
                    <td>{{receita.fixo}}</td>                    
                    <td>
                        <div class="container_actions">
                            <mat-icon (click)="delete()">delete</mat-icon>
                            <mat-icon (click)="editReceita(receita)">edit</mat-icon>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>