.container-buttons{
    float: right;
    padding: 10px;

    button{
        margin: 10px;
    }
}
.button-receita{
    background-color: #0800ff;
    color: white;
}
.button-despesa{
    background-color: #822007;
    color: white;
}