<app-navbar></app-navbar>
<section>
    <div class="container-buttons">
        <button mat-flat-button class="button-receita">Inserir Receita</button>
        <button mat-flat-button class="button-despesa">Inserir Despesa</button>
    </div>
</section>
<!-- Section Com últimas Despesas-->
    <div class="container_despesas">
        <div class="container_title"><h1>ÚLTIMAS DESPESAS</h1></div>
        <table>
            <thead>
                <tr>
                    <th>DATA</th>
                    <th>VALOR</th>
                    <th>TIPO</th>
                    <th>S/N FIXO</th>
                    <th>DESCRIÇÃO</th>
                    <th>MENU</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>02/02/2021</td>
                    <td>R$ 2.500</td>
                    <td>ALUGUEL</td>
                    <td>FIXO</td>
                    <td>CARISSIMO</td>
                    <td>MENU</td>
                </tr>
            </tbody>
        </table>
    </div>
<section>

</section>
<!-- Section Com últimas Receitas-->
<section>
    <div class="container_receitas">
        <div class="container_title"><h1>ÚLTIMAS RECEITAS</h1></div>
        <table>
            <thead>
                <tr>
                    <th>DATA</th>
                    <th>VALOR</th>
                    <th>TIPO</th>
                    <th>S/N FIXO</th>
                    <th>DESCRIÇÃO</th>
                    <th>MENU</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>02/02/2021</td>
                    <td>R$ 2.500</td>
                    <td>ALUGUEL</td>
                    <td>FIXO</td>
                    <td>CARISSIMO</td>
                    <td>MENU</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>